body{background: #FFAADD}
h1{
font-size: 65px;
color:red;
border: 24px solid cyan;
text-align: center;
}

p{
font-size: 40px;
font-style: italic;
color:green;
border: 24px solid magenta;
text-align: center;

}